@import '../../variables';

.Navbar {
  position: fixed;
  background: linear-gradient(to right, $s-purple, $s-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $base-color;
    }
  }
  .Navbar__title {
    margin: 0 0 6px 60px;
    padding: 8px 6px 6px;
    @media (max-width: 768px) {
      margin: 0 0 6px 10px;
    }
  }
  .Navbar__links {
    list-style-type: none;
    display: flex;
    margin: 0 60px 0 0;
    padding: 0;
    @media (max-width: 768px) {
      margin: 0 10px 0 0;
    }
    li {
      padding: 8px 6px 6px;
    }
    div {
      cursor: pointer;
      // &:hover {
      //   color: $base-color;
      // }
    }
  }
  .Navbar__dropdown {
    position: relative;
    display: inline-block;
    &.Navbar_dropdown--show {
      .Navbar__dropdown-options {
        display: block;
      }
      .Navbar__dropdown-user {
        color: $base-color;
        svg g {
          fill: $base-color;
        }
      }
    }
    .Navbar__dropdown-user {
      padding: 8px 6px 6px;
      display: flex;
      .Navbar__dropdown-identicon {
        height: 28px;
        margin-right: 8px;
        border-radius: 5px;
      }
      svg {
        margin: 7px 0 0 4px;
        g {
          fill: white;
        }
      }
    }
    .Navbar__dropdown-options {
      right: 0;
      display: none;
      position: absolute;
      background-color: $base-color;
      min-width: 120px;
      border-radius: 5px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      div {
        color: white;
        margin: 6px 0;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}