@import '../../variables';

.Dashboard {
  margin: 0 auto 50px;
  @media (max-width: 768px) {
    margin: 0 20px 50px;
  }
  .Dashboard__installation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .Dashboard__code-container {
      margin: 0 20px 20px;
      width: 300px;
      padding: 20px 0;
      border: solid 3px $primary-color;
      border-radius: 5px;
      .Dashboard__code {
        font-size: 16px;
        margin: 20px auto 0;
        width: 250px;
        padding: 6px 0 10px;
        background: $code-color;
        border-radius: 5px;
        &.Dashboard__code--snippet {
          overflow-x: scroll;
        }
      }
    }
  }
  table {
    font-size: calc(10px + .5vmin);
    width: 80vw;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid 3px  $primary-color;
    // table-layout: fixed;
    @media (max-width: 768px) {
      .mobile-hidden {
        display: none;
      }
    }
    th {
      border: solid 2px  $primary-color;
      padding: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td {
      border: solid 2px  $primary-color;
      padding: 6px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 10vw;
    }
  }
}