// $base-color: #1cc6ff;
$base-color: #5433FF;
$primary-color: #5433FF;
$secondary-color: #4379ff;
$highlight-color: #E0FBFC;
$code-color:rgb(63, 70, 82);
$hover-color: rgb(63, 70, 82);

$s-purple: #5433FF;
$s-blue: #4379FF;
$s-turqoise: #1CC6FF;
$s-green: #97FBD1;
$s-pink: #F6A4EC;
// $disabled-color: rgb(77, 75, 75);
// $faded-color: rgb(59, 58, 58);
// $highlight-color: rgb(79, 188, 255);
// $warning-color: rgb(238, 198, 67);
// $primary-font: "Noto Sans", Arial, sans-serif;
// $small-font-size: 14px;
// $medium-font-size: 16px;
// $large-font-size: 20px;
// $ball-size: 15px;
// $margin: 2px;
// $line-height: 35px;