$base-color: #282c34;
$primary-color: #3D5A80;
$secondary-color: #98C1D9;
$highlight-color: #E0FBFC;
$code-color:rgb(63, 70, 82);
$hover-color: rgb(63, 70, 82);
// $disabled-color: rgb(77, 75, 75);
// $faded-color: rgb(59, 58, 58);
// $highlight-color: rgb(79, 188, 255);
// $warning-color: rgb(238, 198, 67);
// $primary-font: "Noto Sans", Arial, sans-serif;
// $small-font-size: 14px;
// $medium-font-size: 16px;
// $large-font-size: 20px;
// $ball-size: 15px;
// $margin: 2px;
// $line-height: 35px;