$base-color: #5433FF;
$primary-color: #5433FF;
$secondary-color: #4379ff;
$highlight-color: #E0FBFC;
$code-color:rgb(63, 70, 82);
$hover-color: rgb(63, 70, 82);

$s-purple: #5433FF;
$s-blue: #4379FF;
$s-turqoise: #1CC6FF;
$s-green: #97FBD1;
$s-pink: #F6A4EC;

$a-navy: #2e3c54;
$a-gray: #eff0f1;
$a-white: #ffffff;
$a-coral: #fc636b;
$a-gold: #ffb900;
$a-purple: #6a67ce;
$a-teal: #1aafd0;
$a-green: #3be8b0;

$a-navy--acc: #4d6794;
$a-coral--acc: #ff6d92;
$a-gold--acc: #ffd200;
$a-purple--acc: #a177ff;
$a-teal--acc: #02ceff;
$a-green--acc: #3bf7d1;